.side_box {
  background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .side_box_above {
      
      .info_box
      p {
        font-size: 16px;
        font-weight: bold;
    
  }
}
}
.side_box_main {
  background-color: #2f3e51;
  width: 300px;
  bottom: 0;
  .group_box {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: none;
}
}